@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}
 body, button {
     font-size: 15px;
     font-family: 'Lexend Deca', sans-serif;
 }
 .container {
     padding: 20px;
 }
 .card {
     padding: 30px;
 }
 .card img {
     margin-bottom: 25px;
 }
 .card h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--very-light-gray);
    margin-bottom: 20px;
 }
 .card p {
    color: var(--transparent-white);
    margin-bottom: 30px;
    line-height: 1.6;
 }
 
 .top-container {
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;

 }
 .top-container .btn {
     color: var(--bright-orange);
 }
 .middle-container {
    background-color: var(--dark-cyan);
 }
 .middle-container .btn {
     color: var(--very-dark-cyan);
 }
 .bottom-container {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
 }
 .bottom-container .btn {
     color: var(--very-dark-cyan);
 }
.btn {
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn:hover {
    background-color: transparent;
    color: #fff;
}
 .attribution { 
     font-size: 11px; 
     text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}