@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
/* ### Neutral */
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
}
button {
    font-family: inherit;
}
img {
    max-width: 100%;
}
.container {
    border-radius: 0.624rem;
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.attribution {
     font-size: 11px; 
     text-align: center;
     }
.attribution a { 
     color: hsl(228, 45%, 44%);
     }